<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter&family=Martel+Sans:wght@700&family=Montserrat&family=Roboto+Mono&display=swap"
    rel="stylesheet" />
  <!-- bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <link href="css/owl.carousel.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- local css -->
  <link rel="stylesheet" href="styles.css" />
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <style type=text/css>
    @media only screen and (min-width : 650px) {
      .dropdown:hover .dropdown-menu {
        display: block;
      }
    }
  </style>
  <title>
    <%= Title %>
  </title>
  <!-- Change Title with pages -->
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="assets/joker.png" width="60" height="60" class="d-inline-block align-top"
        alt="" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/company">Company Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/booking">Online Booking</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/residential-relocation" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Our services 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item dropdownLink"  href="residential-relocation" >Residential Relocation</a></li> <hr>
            <li><a class="dropdown-item dropdownLink"  href="insurance" >Insurance</a></li> <hr>
            <li><a class="dropdown-item dropdownLink"  href="automobile-transportaion" >Automobile Transportation</a></li> <hr>
            <li><a class="dropdown-item dropdownLink"  href="office-shifting" >Office Shifting</a></li> <hr>
            <li><a class="dropdown-item dropdownLink"  href="load-unload" >Loading and Unloading</a></li> <hr>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="blogs">Blogs</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="mumbai" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Location
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item dropdownLink"  href="mumbai" >Packers and Movers in Mumbai</a></li> <hr>
            <li><a class="dropdown-item dropdownLink" href="thane">Packers and Movers in Thane</a></li> <hr>
            <li><a class="dropdown-item dropdownLink" href="navi-mumbai">Packers and Movers in Navi Mumbai</a></li> <hr>
            <li><a class="dropdown-item dropdownLink" href="kerala">Packers and Movers in Kerala</a></li> <hr>
            <li><a class="dropdown-item dropdownLink" href="kochi">Packers and Movers in Kochi</a></li> <hr>
          </ul>
          
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</body>

</html>