.clientContainer{
    padding: 0.5px;
    margin: 0.5px;
    width: 100%;
    background-color: #efefef;
}


.clie{
    background-color: #8c52ff;
    height: 10vh;
    width: auto;
    font-family:"Inter", sans-serif;
    font-size:larger;
    margin: 0.5%;
    margin-top: 10vh;
    color:aliceblue;
    justify-content: space-around;
    text-align: center;
}

.text1{
    height: 10vh;
    width: auto;
    letter-spacing: 10;
    font-size:larger;
    margin: 0.5%;
    margin-top: 2%;
    color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    text-align: center;
    font-family: "Inter", sans-serif;
}

#logo{
    width: 250px;
}

#sponser{
    align-items: center;
    border-spacing: 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#coll {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#roww{
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}