<%- include("../components/header") -%>
<link rel="stylesheet" href="Clients.css" />

<div class="container">
    <div class="text">
        <h1>OUR CLIENTELE</h1>
    </div>
    <div class="grid">
        <table>
            <tr>
                <td><img src="/public/assets/Clients/aditya.png" alt=""/></td>
                <td><img src="/public/assets/Clients/brns.png" alt=""/></td>
                <td><img src="/public/assets/Clients/canara.png" alt=""/></td>
                <td><img src="/public/assets/Clients/csb.png" alt=""/></td>
                <td><img src="/public/assets/Clients/federal.png" alt=""/></td>
            </tr>
            <tr>
                <td><img src="/public/assets/Clients/hdfc.png" alt=""/></td>
                <td><img src="/public/assets/Clients/icici.png" alt=""/></td>
                <td><img src="/public/assets/Clients/iit.png" alt=""/></td>
                <td><img src="/public/assets/Clients/income.png" alt=""/></td>
                <td><img src="/public/assets/Clients/indian-oil.png" alt=""/></td>
            </tr>
            <tr>
                
                <td><img src="/public/assets/Clients/infosys.png" alt=""/></td>
                <td><img src="/public/assets/Clients/IR.png" alt=""/></td>
                <td><img src="/public/assets/Clients/jet-airways.png" alt=""/></td>
                <td><img src="/public/assets/Clients/kingfisher.png" alt=""/></td>
                <td><img src="/public/assets/Clients/leela.png" alt=""/></td>
            </tr>
            <tr>
                <td><img src="/public/assets/Clients/matrubhumi.png" alt=""/></td>
                <td><img src="/public/assets/Clients/mm.png" alt=""/></td>
                <td><img src="/public/assets/Clients/ncpl.png" alt=""/></td>
                <td><img src="/public/assets/Clients/ongc.png" alt=""/></td>
                <td><img src="/public/assets/Clients/reliance.png" alt=""/></td>
            </tr>
            <tr>
                <td><img src="/public/assets/Clients/sbi.png" alt=""/></td>
                <td><img src="/public/assets/Clients/sbt-bank.png" alt=""/></td>
                <td><img src="/public/assets/Clients/Wipro.png" alt=""/></td>
            </tr>
        </table>
        </div>            
    </div>
    <div class="text1">
        <h1>AND MANY MORE..</h1>
    </div>
</div>

<%- include("../components/footer") -%>