<%- include("../components/header") -%>

<link rel="stylesheet" href="Clients.css" />
<div class="clientContainer">
    <div class="clie">
        <h1>OUR CLIENTELE</h1>
    </div>
        <div class="grid">
            <table id="sponser">
                <tr id="roww">
                    <td id="coll"><img id="logo" src="/assets/Clients/aditya.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/brns.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/canara.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/csb.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/federal.png" alt=""/></td>
                </tr>
                <tr id="roww">
                    <td id="coll"><img id="logo" src="/assets/Clients/hdfc.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/icici.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/iit.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/income.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/indian-oil.png" alt=""/></td>
                </tr>
                <tr id="roww">
                    <td id="coll"><img id="logo" src="/assets/Clients/infosys.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/IR.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/jet-airways.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/kingfisher.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/leela.png" alt=""/></td>
                </tr>
                <tr id="roww">
                    <td id="coll"><img id="logo" src="/assets/Clients/matrubhumi.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/mm.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/ncpl.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/ongc.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/reliance.png" alt=""/></td>
                </tr>
                <tr id="roww">
                    <td id="coll"><img id="logo" src="/assets/Clients/sbi.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/sbt-bank.png" alt=""/></td>
                    <td id="coll"><img id="logo" src="/assets/Clients/Wipro.png" alt=""/></td>
                </tr> 
            </table>          
        </div>
        <div class="text1">
            <h1>AND MANY MORE..</h1>
        </div>
    </div>
</div>
<%- include("../components/footer") -%>
