<%- include("../components/header") -%>
<div class="companySlide">
  <h1>OUR COMPANY</h1>
</div>
<div class="companyAbout">
  <div class="companyAboutTitle">
    <h1>Best Logistics Company in Mumbai</h1>
  </div>
  <div class="companyAboutText">
    <p>
      Jolly Speed Packers & Movers an ISO 9001-2008 Certified company,
      considered as the leading transportation services company in India working
      in this field since 1991 and producing best quality moving service. Jolly
      Speed Packers & Movers takes pride in providing highly dedicated and
      personalized customized relocation system in Locally and Globally. We
      fulfill the accurate and exact requirements according to the customer's
      need so that they can easily get what they exactly want. We are the best
      Packers and Movers in Navi Mumbai. Jolly Speed Cargo has a friendly and
      dedicated staffs who is always engaged in gaining customer satisfaction
      and maintaining the moving company's profile. Packers and Movers in Navi
      Mumbai
    </p>
    <p>
      They intend to make their system perfect with effective management
      techniques and through strong communication among their management. Our
      network is well-connected and well-organized just as you would look
      forward in a transportation company in India. The well trained,
      experienced, certified professionals make it possible and move your stuff
      safely from one place to another. We Help you from packaging, moving and
      warehousing of your item. Once the shipment process is done, they will
      help you to deliver your things at your location taking care of all the
      Assembly, Unpacking and placing all your items at the right positions
      which saves your time and effort.
    </p>
    <p>
      Jolly Speed Packers & Movers believes in facilitating their customers in
      cost effective manner. The organization is facing continuous growth and
      now enjoying great success because of their hard effort as the market has
      become more competitive. Also we working hard in producing quality
      services for our customers. For our customer convenience we provide online
      booking system so that they can easily access it through website by
      sitting at home in just few clicks. Our experienced sales staff work 1 on
      1 with each client with only integrity and service quality in their mind.
      Our commitment to customer satisfaction has mode us one of the most
      reputed and reliable transportation company in India since 1991.
    </p>
  </div>
</div>
<div class="gallery">
  <div>
    <h1 class="galleryTitle">GALLERY</h1>
  </div>
  <div class="mediaItems">
    <ul class="nav nav-pills mb-3 buttonClass" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          Images
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          Videos
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
        <div class="imgItems">
          <img
            src="https://www.jollyspeedcargo.com/images/gallery/8.jpg"
            alt="img"
          />
          <img
            src="https://www.jollyspeedcargo.com/images/gallery/9.jpg"
            alt="img"
          />
          <img
            src="https://www.jollyspeedcargo.com/images/gallery/10.jpg"
            alt="img"
          />
          <img
            src="https://www.jollyspeedcargo.com/images/gallery/11.jpg"
            alt="img"
          />
          <img
            src="https://www.jollyspeedcargo.com/images/gallery/12.jpg"
            alt="img"
          />
        </div>
      </div>
      <div
        class="tab-pane fade vidDiv"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
      <div class="vidItems">
          <iframe src="https://www.youtube.com/embed/SPAaf9PFOaI" title="Jolly Cargo Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/nQDK0eMd0Fk" title="Jolly Speed Cargo 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/scJNDKtz0Uw" title="Jolly Speed Cargo 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/O1smE0Xd_cE" title="Jolly Speed Cargo 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      </div>
    </div>
  </div>
</div>
<%- include("../components/footer") -%>
