<%- include("../components/header") -%>
<link rel="stylesheet" href="Contact.css" />
<div class="companySlide">
    <h1>CONTACT US</h1>
</div>
    <div class="addressSec">
<div class="row">
    <div class="col-xs-6 col-sm-4 tt1">
        <h2>Jolly Speed Cargo</h2>
        <br>
        <h3>Shop No 6,Trishla Building, Saidham P.K Road, Near St.Mary School, Mulund West, Mumbai, Maharashtra 400080</h3>
    </div>
    <div class="col-xs-6 col-sm-4 tt1">
        <h2>Jolly Speed Cargo</h2>
        <br>
        <h3>Adukali Buildings,Pulluvaghi-Thattamughal Road,Pulluvaghi Perumbaroor,Evnakulam Dist. Kerala-683541</h3>
    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4 tt1">
        <h2>Jolly Speed Cargo</h2><br>
        <h3>RMS 21, TTC Industrial area Rabale, Navi Mumbai-400701</h3>
    </div>
  </div>
</div>

<div class="connect">
    <h1>CONNECT WITH US ANYTIME</h1>
</div>

<%- include("../components/footer") -%>
