<%- include("../components/header") -%>
<link rel="stylesheet" href="Contact.css" />
<div class="Contactcontainer">
    <div class="conn">
        <h1>CONTACT US</h1>
    </div>
    <div class="addressSec">
        <table id="address">
            <tr id="add">
                <th id="t1">Jolly Speed Cargo</th>
                <th id="t1">Jolly Speed Cargo</th>
                <th id="t1">Jolly Speed Cargo</th>
            </tr>
            <tr id="add">
                <td id="t2">Shop No 6,Trishla Building, Saidham P.K Road, Near St.Mary School, Mulund West, Mumbai, Maharashtra 400080</td>
                <td id="t2">Adukali Buildings,Pulluvaghi-Thattamughal Road,Pulluvaghi Perumbaroor,Evnakulam Dist. Kerala-683541</td>
                <td id="t2">RMS 21, TTC Industrial area Rabale, Navi Mumbai-400701</td>
            </tr>
        </table>
    </div>
    <div class="connect">
            <h1>CONNECT WITH US ANYTIME</h1>
    </div>
</div>


<%- include("../components/footer") -%>