<%- include("../components/header") -%>
<link rel="stylesheet" href="Contact.css" />
<div class="companySlide">
  <h1>CONTACT US</h1>
</div>
<div class="addressSec">
  <div class="row">
    <div class="col-xs-6 col-sm-4 tt1">
      <h2>Jolly Speed Cargo Mumbai</h2>
      <br />
      <h3>
        Shop No 6,Trishla Building, Saidham P.K Road, Near St.Mary School,
        Mulund West, Mumbai, Maharashtra 400080
      </h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15074.723214630187!2d72.9433778!3d19.1654446!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b86e528cb077%3A0xc5a182b8034096d8!2sJolly%20Speed%20Cargo!5e0!3m2!1sen!2sin!4v1678998607502!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-xs-6 col-sm-4 tt1">
      <h2>Jolly Speed Cargo Kerala</h2>
      <br />
      <h3>
        Adukali Buildings,P-T Road,Pulluvaghi Perumbaroor, Kochi Dist.
        Kerala-683541
      </h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15712.690719407528!2d76.49878003596274!3d10.084933210903717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08095411f2bf5f%3A0xd453d9ce6daf1801!2sJolly%20Speed%20Cargo!5e0!3m2!1sen!2sin!4v1678998760619!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4 tt1">
      <h2>Jolly Speed Cargo Navi Mumbai</h2>
      <br />
      <h3>RMS 21, TTC Industrial area Rabale, Navi Mumbai-400701</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15076.306636371433!2d73.0075775!3d19.1481214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bf0ae6417d4f%3A0xf97587e9828aab61!2sJolly%20Speed%20Cargo%20Navi%20Mumbai!5e0!3m2!1sen!2sin!4v1678998645157!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<div class="connect">
  <h1>CONNECT WITH US ANYTIME</h1>
</div>

<%- include("../components/footer") -%>
