<%- include("../components/header") -%>
<link rel="stylesheet" href="Contact.css" />
<div class="container">
    <div class="header">
        <h1>CONTACT US</h1>
    </div>
    <div class="addressSec">
        <div class="address">
            <h3>Jolly Speed Cargo</h3>
            <p>Shop No 6,Trishla Building, Saidham P.K Road, Near St.Mary School, Mulund West, Mumbai, Maharashtra 400080</p>
            <h3>Jolly Speed Cargo</h3>
            <p>Adukali Buildings,Pulluvaghi-Thattamughal Road,Pulluvaghi Perumbaroor,Evnakulam Dist. Kerala-683541</p>
            <h3>Jolly Speed Cargo</h3>
            <p>RMS 21, TTC Industrial area Rabale, Navi Mumbai-400701</p>
        </div>
    </div>
    <div class="connect">
            <h1>CONNECT WITH US ANYTIME</h1>
    </div>
</div>


<%- include("../components/footer") -%>