<%- include("../components/header") -%>

<div class="purpleBg container-1">
  <div class="slide1">
    <div class="title">
      <div class="pTitleslide">
        <div class="logo">
          <img src="assets/logo.png" alt="logo" />
        </div>
        <p>MOVING? <br />WE GOT YOU!</p>
        <button type="button" class="btn btn-dark">
          <h2 class="learn">Learn More</h2>
        </button>
      </div>
      <img src="assets/gif1.gif" class="title-gif" alt="" />
    </div>
  </div>
</div>
<div class="whiteBg container-2BG">
  <div class="container-2">
    <div class="manBox">
      <img src="assets/Man_Box.png" class="man" alt="" />
    </div>
    <div class="about-text">
      <div>
        <h1 class="about-header">About Us</h1>
      </div>
      <div class="about-para">
        JOLLY SPEED CARGO takes immense pleasure to introduce ourselves as one
        of the leading packing and moving agencies in India. Established in
        1991, today we are renowned for upholding long-term relationships with
        our esteemed clients. We offer a comprehensive range of packing,
        relocation and similar services in major cities like Kerala, Tamil Nadu,
        Karnataka, Goa, Bangalore etc. and have particularly been very
        successful and renowned largely due to our strong network in the
        Southern part of India – contributing to considerable growth over the
        past few years.
      </div>
    </div>
  </div>
</div>
<div class="purpleBg functionDiv">
  <div class="functionsHeadDiv">
    <h1 class="funcHeader">GET STARTED WITH US</h1>
  </div>
  <div class="imgFuncDiv">
    <div class="infoFuncDiv1">
      <img src="assets/func1.jpg" alt="function 1" />
      <h2>CALL US NOW</h2>
      <h3>+919899899891</h3>
    </div>
    <div class="infoFuncDiv1">
      <img src="assets/func2.jpg" alt="function 2" />
      <h2>EMAIL US NOW</h2>
      <h3>youremail@gmail.com</h3>
    </div>
    <div class="infoFuncDiv1">
      <img src="assets/func3.jpg" alt="function 3" />
      <h2>ONLINE BOOKING</h2>
      <h3>GET A FREE ONLINE QUOTE</h3>
    </div>
  </div>
</div>
<div class="whiteBg cardDiv">
  <div class="cardsHeadDiv">
    <h1 class="cardHeader">PACKAGED SERVICES</h1>
  </div>
  <div class="cardSec">
    <div class="card" style="width: 28rem">
      <img class="card-img-top" src="assets/gif2.1.gif" alt="Card image cap" />
      <div class="card-body">
        <h2>Service</h2>
        <li>Residential Relocation</li>
        <li>Corporate Relocation</li>
        <li>Automobile Transportation</li>
      </div>
    </div>
    <div class="card" style="width: 28rem">
      <img class="card-img-top" src="assets/gif2.2.gif" alt="Card image cap" />
      <div class="card-body">
        <h2>Transportation</h2>
        <li>Loading and Unloading</li>
        <li>Packing and Unpacking</li>
        <li>Warehousing</li>
      </div>
    </div>
    <div class="card" style="width: 28rem">
      <img class="card-img-top" src="assets/gif2.3.gif" alt="Card image cap" />
      <div class="card-body">
        <h2>Insurance</h2>
        <li>Cargo Insurance</li>
        <li>Vehicle Insurance</li>
        <li>Gold Insurance</li>
      </div>
    </div>
  </div>
</div>
<div class="purpleBg testemonials">
  <div class="clientDiv">
    <h1 class="clientHeader">OUR CLIENTELE</h1>
  </div>
  <div class="testDiv">
    <div class="testDivCont">
      <h3>
        Testimonials are short quotes from people who love your brand. It's a
        great way to convince customers to try your services. Testimonials are
        short quotes from people who love your brand. It's a great way to
        convince customers to try your services.
      </h3>
      <h3 class="nameTest">-Kevin John</h3>
    </div>
    <div class="testDivCont">
      <h3>
        Testimonials are short quotes from people who love your brand. It's a
        great way to convince customers to try your services. Testimonials are
        short quotes from people who love your brand. It's a great way to
        convince customers to try your services.
      </h3>
      <h3 class="nameTest">-Manisha Roshini</h3>
    </div>
    <div class="testDivCont">
      <h3>
        Testimonials are short quotes from people who love your brand. It's a
        great way to convince customers to try your services. Testimonials are
        short quotes from people who love your brand. It's a great way to
        convince customers to try your services.
      </h3>
      <h3 class="nameTest">-Manoj Kumar</h3>
    </div>
  </div>
</div>
<%- include("../components/footer") -%>
